
.App {
  text-align: center;
}
.Header {
  color: black;
  font-size: 3em;
  font-family: 'Space Mono', monospace;
  padding: 30px 0 0 20px;

}
/* write your parent styles in here for your App.js */
